h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
}

img.landing {
  margin-left: auto;
  display: block;
  margin-right: auto;
  width: auto;
  height: 500px;
}

body {
  background-color: rgb(243, 225, 147);
}

div.container {
  text-align: center;
}

ul.recipes {
  display: inline-block;
  text-align: center;
  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

a.noline {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(231, 127, 0);
}

a:hover {
  color: rgb(196, 109, 3);
}
